.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#players {
    justify-content: space-evenly;
}

#score {
    justify-content: center;
}

#results {
    flex-direction: column;
}